
/* Klase selektori, može više istih klasa*/
    .treci{
        color: green;
    }
/* element selector */
    h2, p{
    color: blueviolet;
    }

/* ID selektor samo jedan*/
    #Naslov {
        color: chocolate;
    }
/* selektor koji se primjenjuje na sve */
    * {
    background-color: antiquewhite;
    }
/* selektor s određenim atributom */
    p[draggable=true] {
        background-color: aqua;
    }
    h2 {
    font-weight: normal;
}

#red {
    color: red;
}
#blue {
    color: blue;
}
#green {
    color: green;
}
#yellow {
    color: yellow;
}
#orange {
    color: orange;
}
img {
    width: 200px;
    height: 200px;
}