*{
    background-color: black;¸
    
}
img{
    margin-top: 5%;
    border: 5px solid white;
    width: 50%;
    margin-left: 25%;
    
}


h1{
    text-align: center;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-transform: uppercase;
}
p{
    text-align: center;
    color: white;
}